.icon-wrapper {
  background: $light-text;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: grid;
  place-items: center;
  @include for-size(tablet) {
    width: 8rem;
    height: 8rem;
  }
  @include for-size(phone) {
    width: 7rem;
    height: 7rem;
  }
}
.house-selection .icon-wrapper,
.player-selection .icon-wrapper {
  width: 12rem;
  height: 12rem;
  border-width: 24px;
  border-style: solid;
  @include for-size(tablet) {
    width: 10rem;
    height: 10rem;
    border-width: 15px;
  }
  @include for-size(phone) {
    width: 8rem;
    height: 8rem;
  }
}
.house-selection .rock-icon,
.player-selection .rock-icon {
  border-color: $rock-1;
}
.house-selection .paper-icon,
.player-selection .paper-icon {
  border-color: $paper-1;
}
.house-selection .scissors-icon,
.player-selection .scissors-icon {
  border-color: $scissors-1;
}
.rock-icon {
  border: 12px solid $rock-1;
  box-shadow: inset 0 6px $btn-shadow-inset, 0 6px $rock-2;
}
.paper-icon {
  border: 12px solid $paper-1;
  box-shadow: inset 0 6px $btn-shadow-inset, 0 6px $paper-2;
}
.scissors-icon {
  border: 12px solid $scissors-1;
  box-shadow: inset 0 6px $btn-shadow-inset, 0 6px $scissors-2;
}
