.site-footer {
  @include flex-settings(site-footer);
  width: 90%;
  margin: 0 auto;
  @include for-size(xphone) {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, -10%);
  }
}
.site-footer button {
  border: 2px solid $outline;
  border-radius: 8px;
  background-color: transparent;
  font-size: $font-size-normal;
  color: $light-text;
  letter-spacing: 0.2rem;
  padding: 1% 4%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  @include for-size(tablet) {
    font-size: $font-size-small;
    padding: 0.6rem 2rem;
  }
}
.site-footer button:hover {
  background-color: $light-text;
  color: $score-text;
  box-shadow: 0 0 10px $light-text;
}
.btn-reset {
  margin-right: 4%;
  @include for-size(tablet) {
    margin-right: 0;
    margin-bottom: 4%;
  }
}
