.site-header {
  @include flex-settings(site-header);
  border: 2px solid $outline;
  border-radius: 12px;
  height: 150px;
  padding: 1rem 2rem;
  @include for-size(xxphone) {
    padding: 1rem;
    height: 120px;
  }
}
.site-header img {
  height: 100%;
}
.scorebox {
  @include flex-settings(scorebox);
  width: 150px;
  height: 100%;
  padding: 1rem 1.4rem;
  background-color: $light-text;
  border-radius: 8px;
  line-height: 1;
  &--label {
    font-size: $font-size-normal;
    color: $score-text;
    letter-spacing: 0.1rem;
  }
  &--number {
    color: $dark-text;
    font-size: $font-size-xlarge;
  }
  @include for-size(xxphone) {
    width: 120px;
    padding: 0.8rem 1rem;
    &--number {
      font-size: $font-size-large;
    }
  }
}
