.result-container {
  @include grid-settings(result-container);
  margin-top: 3rem;
  height: 20rem;
  @include for-size(tablet) {
    height: auto;
  }
}
.result-board {
  @include flex-settings(result-board);
  @include for-size(tablet) {
    flex-direction: column-reverse;
  }
  &--label {
    font-size: $font-size-xnormal;
    text-align: center;
    font-family: $font-family;
    letter-spacing: 0.1rem;
    margin-bottom: 4rem;
    @include for-size(tablet) {
      font-size: $font-size-normal;
      margin-top: 4rem;
    }
  }
}
.player-selection,
.house-selection {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.player-board {
  grid-area: playerBoard;
}
.house-board {
  grid-area: houseBoard;
}
.resultbox {
  grid-area: resultBox;
  @include flex-settings(resultbox);
  @include for-size(xxphone) {
    margin-bottom: 1.2rem;
  }
  &--result {
    font-size: $font-size-medium;
    font-weight: $font-weight-bolder;
  }
}
.btn-play-again {
  width: 180px;
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  background-color: $light-text;
  text-transform: uppercase;
  color: $score-text;
  border-radius: 8px;
  font-size: $font-size-xsmall;
  border: 1px solid $outline;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
