//base
@import "base/colors";
@import "base/typography";
@import "base/body";
//layout
@import "layout/flex-settings";
@import "layout/grid-settings";
@import "layout/media-breakpoints";
@import "layout/game-icons";
// modules
@import "modules/header";
@import "modules/game-container";
@import "modules/_dot-loading";
@import "modules/result-container";
@import "modules/footer";
@import "modules/rules-modal";
//site-container
.site-container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 2rem;
}
